
.navbar{
    display: flex;
    justify-content: center;
    padding-left: 400px;
    
}

.logos{
    width: 50%;
}

.Reviews{
    padding-left: 71px;
}

.reviews{
    display: flex;
    align-items: row;
  }

.reviewarea{
    width: 60%;
    padding-left: 200px;
    padding-top: 60px;

  }